<div class="app-container">
  <div class="board-container">
    <h1>Tic Tac Toe</h1>
    <div class="buttons-container" *ngIf="!showGameModes()">
      <button (click)="startGame()">Start Game</button>
      <button (click)="toggleGameResults()">Toggle Last 10 Results</button>
    </div>
    <div class="buttons-container" *ngIf="showGameModes() && !showGame()">
      <button (click)="selectGameMode('player')">Play Against Player</button>
      <button (click)="selectGameMode('computer')">Play Against AI</button>
      <button (click)="showGameModes.set(false)">Back</button>
    </div>
    <app-tic-tac-toe
      *ngIf="showGame()"
      [againstPlayer]="againstPlayer()"
      [showGame]="showGame"
    ></app-tic-tac-toe>
  </div>
  <app-tic-tac-toe-results
    [updateResults]="updateResults"
    *ngIf="showGameResults()"
  ></app-tic-tac-toe-results>
</div>
